.button__toggle {
	padding: 0 1rem;

	.menu__icon {
		font-size: 1.3rem;
	}
}

.menuList_mobile {
	width: 100vw;
	height: 91vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.itemList {
		font-size: 1.2rem;
	}
}
