@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* COLORS */
	--black-color: #231f20;
	--white-color: #f7f7f7;
	--red-color: rgb(141, 18, 51);
	--gold-color: rgb(242, 221, 114);
	--yellow-color: #fbcc34;
	--green-color: rgb(18, 140, 45);
	--menta-color: #53b294;
	--brown-color: #aa7265;
}

body {
	color: var(--black-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;

	a {
		color: var(--black-color);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
